/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.feedback-form input,
.feedback-form textarea {
  margin-top: 8px;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;

  font-size: 16px;
}

.feedback-form textarea {
  resize: none;
}

.feedback-form button {
  width: 95px;
  height: 40px;

  border: none;
  border-radius: 8px;

  background-color: #4e75ff;
  color: #fff;

  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
